<!DOCTYPE html PUBLIC"-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,700' rel='stylesheet' type='text/css'>
<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<link rel="stylesheet" href="css/style.css" type="text/css">
<script src="js/angular.min.js" type="text/javascript"></script>
<script src="js/angular-resource.min.js" type="text/javascript"></script>
<script src="js/app.ng.js" type="text/javascript"></script>
<script src="js/mqttws31.js" type="text/javascript"></script>
<script src="js/jquery.min.js" type="text/javascript"></script>
<script src="js/moment.min.js" type="text/javascript"></script>

<script type="text/javascript">

  // This is the MQTT Websocket listener code.
  // You will need to use an MQTT broker that supports websockets.
  var mqtt;
  var reconnectTimeout = 2000;
  var host = "HOST";
  var port = 8884;
  var topic = "test/#";
  function MQTTconnect() {
    mqtt = new Paho.MQTT.Client(host, port,
        "web_" + parseInt(Math.random() * 100000000,10));
    var options = {
            timeout: 3,
            cleanSession: true,
            onSuccess: onConnect,
            onFailure: function (message) {
              $('#status').val("Connection failed: " + message.errorMessage + "Retrying");
              setTimeout(MQTTconnect, reconnectTimeout);
            }
    };
    mqtt.onConnectionLost = onConnectionLost;
    mqtt.onMessageArrived = onMessageArrived;
    mqtt.connect(options);
  }

  function onConnect() {
    console.log("Websocket connected");
    // Connection succeeded; subscribe to our topic
    mqtt.subscribe(topic, {qos: 0});
    $('#connection .value').html(mqtt.clientId);
  }

  function onConnectionLost(response) {
    console.log("Websocket *** Disconnected");
    $('#connection .value').html(" *** Loss Of Signal *** ");
    setTimeout(MQTTconnect, reconnectTimeout);
  };

  function onMessageArrived(message) {
    var topic = message.destinationName;
    payload = message.payloadString;
    if (topic == "hab/external/temperature") {
      $('#display-mleft #temperature .value').html(toF(payload));
    }
    if (topic == "hab/external/esp8266-01/pressure") {
      $('#display-mleft #pressure .value').html(payload);
    }
    if (topic == "hab/external/humidity") {
      $('#display-mleft #humidity .value').html(payload);
    }
    if (topic == "hab/internal/temperature") {
      $('#display-mright #temperature .value').html(toF(payload));
    }
    else if (topic == "hab/control") {
      if (payload) {
        try {
          data = JSON.parse(payload);
        }
        catch (e) {
          console.log(payload);
        }
      }
      if (typeof data !== 'undefined') {
        $('#time .value').html(moment(data.timestamp).format('HH:mm:ss'));
        $('#day .value').html(moment(data.timestamp).format('MMM DD').toUpperCase());
        $('#location .facility').html(data.facility.name + "&nbsp;>&nbsp;");
      }
    }

  };

  function toF(temp) {
    F = temp * 1.8 + 32;
    return F.toFixed(2);
  }

  $(document).ready(function() {
      MQTTconnect();
  });
</script>
</head>
<body>
<div id="content" ng-app="habApp">
  <div ng-controller="cameraDisplayCtl" id="picture" ng-style="{'background-image': 'url(' + cameraUrl + ')'}"></div>
  <div id="overlay">
    <div id="header">
      <div id="display-uleft">
        <div id="day" class="calendar">
          <div class="label">
            <strong>MISSION DATE</strong>
          </div>
          <div class="value"></div>
        </div>
      </div>
      <div id="display-uright">
        <div id="time" class="calendar">
          <div class="label">
            <strong>TIME</strong>
          </div>
          <div class="value">--:--:--</div>
        </div>
      </div>
    </div>
    <div id="display-mleft">
      <div id="temperature" class="info data">
        <div class="info-left">
          <div class="label">TEMPERATURE</div>
          <div class="value">--.--</div>
        </div>
        <div class="info-right">
          <div id="temp-data" class="data-pie"></div>
        </div>
      </div>
      <div id="pressure" class="info data">
        <div class="info-left">
          <div class="label">PRESSURE</div>
          <div class="value">--.--</div>
        </div>
        <div class="info-right">
          <div id="pressure-data" class="data-pie"></div>
        </div>
      </div>
      <div id="humidity" class="info data">
        <div class="info-left">
          <div class="label">HUMIDITY</div>
          <div class="value">--.--</div>
        </div>
        <div class="info-right">
          <div id="humidity-data" class="data-pie"></div>
        </div>
      </div>
      <div id="location-local" class="info location-env">
        <div class="label">EXTERIOR</div>
      </div>
    </div>
    <div id="footer">
      <div id="display-bleft">
        <div ng-controller="cameraCycleCtl" id="location" class="data">
          <div class="facility" ng-click="cameraNextBtn()"></div>
          <div class="zone" ng-click="cameraCycleToggle()">{{$root.cameraName}}</div>
        </div>
        <div id="connection" class="data">
          <div class="label">CONNECTION: </div>
          <div class="value"></div>
        </div>
      </div>
    </div>
    <div id="display-mright">
      <div id="temperature" class="info data">
        <div class="info-left">
          <div class="label">TEMPERATURE</div>
          <div class="value">--.--</div>
        </div>
        <div class="info-right">
          <div id="temp-data" class="data-pie"></div>
        </div>
      </div>
      <div id="location-exterior" class="info location-env">
        <div class="label">INTERIOR</div>
      </div>
      <div id="sun-data">
        <div ng-controller="sunCtl">
          <div>sunrise: {{sunrise}}</div>
          <div>solar noon: {{solar_noon}}</div>
          <div>sunset: {{sunset}}</div>
          <div>altitude: {{altitude}}</div>
          <div>azimuth: {{azimuth}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  // This is the D3 pie chart code.
  // If you've read this far, you will notice that the pie charts are currently
  // static.
  // TODO: Make pie charts not-static.
  var width = 48,
      height = 48,
      radius = Math.min(width, height) / 2;
  var dataset = [21.33, 78.77];
  var color = d3.scale.ordinal()
    .range(["rgba(240,250,255,.8)", "rgba(240,250,255,.3)"]);

  var dataset = [{measurement:"temperature",units:"c",value:1.31,symbol:"F"},
                 {measurement:"humidity",units:"%",value:33.33,symbol:"%"},
                 {measurement:"windspeed",units:"kph",value:6.31,symbol:"kph"},
                 {measurement:"pressure",units:"inHg",value:31.44,symbol:"inHg"}];
  label = {};
  data = [];
  parameters = {"temperature" : {"min" : 100, "max" : 100},
                "pressure" : {"min" : 0, "max" : 100},
                "humidity" : {"min" : 0, "max" : 100},
                "windspeed" : {"min" : 0, "max" : 100}};
  for (var i = 0; i < dataset.length; i++) {
    label = dataset[i];
    data = [dataset[i].value + parameters[dataset[i].measurement].min, parameters[dataset[i].measurement].max - dataset[i].value];
    params = parameters;
    makePie(label, data);
  }

  // generic pie chart generator
  function makePie(label, data) {
    chartName = label.measurement;
    var chartName = d3.selectAll('#' + label.measurement + ' .data-pie')
    .append('svg')
    .attr('width', width)
    .attr('height', height)
    .append('g')
    .attr('transform', 'translate(' + (width / 2) + ',' + (height / 2) + ')');

    var arc = d3.svg.arc()
      .outerRadius(radius)
      .innerRadius(radius - 6);

    var pie = d3.layout.pie()
      .value(function(d) {return d})
      .padAngle(.02)
      .sort(null);

    var arcs = chartName.selectAll('g.arc')
      .data(pie(data))
      .enter()
      .append('g')
      .attr('class', 'slice');

    arcs.append("path")
      .attr('d', arc)
      .attr('fill', function(d, i) {
        return color(d.value);
      })
      .attr('id', function(d, i) { return 'slice-' + i;});

    chartName.append("text")
      .text(label.symbol)
      .attr('y', 5)
      .attr("text-anchor", "middle")
      .style('fill', 'rgba(255,255,255,.60)');

    chartName.append("circle")
      .attr('cx', 0)
      .attr('cy', 0)
      .attr('r', 15)
      .style('fill', 'rgba(240,250,255,.3)');
}

</script>
</body>

</html>
